@charset "UTF-8";
@import url("reset.css");
/* line 8, ../sass/style.scss */
font-face {
  font-family: 'open_sansregular';
  src: url("fonts/opensans-regular-webfont.eot");
  src: url("fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans-regular-webfont.woff2") format("woff2"), url("fonts/opensans-regular-webfont.woff") format("woff"), url("fonts/opensans-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* line 20, ../sass/style.scss */
header {
  background: #dcdcdc;
}

/* line 24, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 28, ../sass/style.scss */
.header {
  width: 1000px;
  margin: 0 auto;
  padding: 60px 10px;
  overflow: hidden;
}

/* line 35, ../sass/style.scss */
.logo {
  width: 50%;
  float: left;
}

/* line 40, ../sass/style.scss */
.info {
  width: 50%;
  float: right;
  text-align: right;
  margin-top: -30px;
}
/* line 45, ../sass/style.scss */
.info p {
  font-family: 'open_sansregular';
  color: #777777;
  font-size: 40px;
  line-height: 45px;
}
/* line 51, ../sass/style.scss */
.info span {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  color: #777777;
  font-size: 24px;
  font-weight: bold;
  border-bottom: 2px dashed #777;
  line-height: 30px;
  cursor: pointer;
}

/* line 63, ../sass/style.scss */
.logo img {
  float: left;
}

/*Menu*/
/* line 70, ../sass/style.scss */
section.wrap-menu {
  background: #777777;
}

/* line 74, ../sass/style.scss */
.menu {
  width: 1000px;
  padding: 5px 10px;
  margin: 0 auto;
}

/* line 80, ../sass/style.scss */
#mainmenu {
  position: relative;
  overflow: hidden;
  margin: 10px 0;
}

/* line 85, ../sass/style.scss */
#mainmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
  font-family: "PT Sans", sans-serif;
}

/* line 95, ../sass/style.scss */
#mainmenu ul li {
  position: relative;
  left: -50%;
  float: left;
  margin: 0 10px;
  background: url("../img/menu_razdel.png") no-repeat right center;
  padding-right: 20px;
}

/* line 104, ../sass/style.scss */
#mainmenu ul li.last {
  background: none !important;
}

/* line 107, ../sass/style.scss */
#mainmenu ul li a {
  display: block;
  text-decoration: none;
  padding: 4px 0px;
  font-size: 30px;
  color: #fff;
}

/* line 114, ../sass/style.scss */
#mainmenu ul li a:hover {
  text-decoration: underline;
}

/*Slider*/
/* line 120, ../sass/style.scss */
.wrap-slider {
  height: 387px;
  background: url("../img/slide-bg.jpg") no-repeat;
  background-size: 100%;
}

/*Hleb*/
/* line 127, ../sass/style.scss */
.in_hleb {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding: 0 10px;
}
/* line 132, ../sass/style.scss */
.in_hleb ul {
  overflow: hidden;
  padding: 10px 0;
}
/* line 135, ../sass/style.scss */
.in_hleb ul li {
  float: left;
  margin-left: 10px;
}
/* line 138, ../sass/style.scss */
.in_hleb ul li a {
  font-family: "PT Sans", sans-serif;
  color: #777777;
  font-size: 14px;
}
/* line 145, ../sass/style.scss */
.in_hleb ul :first-child {
  margin-left: 0px;
}

/*Content*/
/* line 152, ../sass/style.scss */
.in_main_content {
  width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  overflow: hidden;
}

/* line 159, ../sass/style.scss */
.left_content {
  float: left;
  width: 20%;
}
/* line 162, ../sass/style.scss */
.left_content ul li {
  margin-top: 12px;
}
/* line 164, ../sass/style.scss */
.left_content ul li a {
  font-family: "PT Sans", sans-serif;
  color: #777777;
  font-size: 20px;
  text-decoration: none;
}
/* line 170, ../sass/style.scss */
.left_content ul li ul {
  margin-left: 15px;
}
/* line 174, ../sass/style.scss */
.left_content ul li ul li {
  padding-left: 15px;
  background: url("../img/point.png") no-repeat left center;
}
/* line 177, ../sass/style.scss */
.left_content ul li ul li a {
  font-family: "PT Sans", sans-serif;
  color: #777777;
  font-size: 14px;
}
/* line 183, ../sass/style.scss */
.left_content ul li ul li a:hover, .left_content ul li ul li a.active {
  color: #010101;
  text-decoration: underline;
}
/* line 190, ../sass/style.scss */
.left_content a.exel {
  display: block;
  text-align: center;
  margin-top: 100px;
}

/* line 197, ../sass/style.scss */
.right_cintent {
  width: 80%;
  float: right;
}
/* line 200, ../sass/style.scss */
.right_cintent ul.main_tovars {
  overflow: hidden;
  margin-top: 20px;
}
/* line 203, ../sass/style.scss */
.right_cintent ul.main_tovars li {
  float: left;
  width: 206px;
  background: #dcdcdc;
  padding: 22px;
  margin-left: 15px;
}
/* line 209, ../sass/style.scss */
.right_cintent ul.main_tovars li p.opisanie {
  font-family: "PT Sans", sans-serif;
  color: #767676;
  font-size: 20px;
  text-align: left;
}
/* line 215, ../sass/style.scss */
.right_cintent ul.main_tovars li p.cena {
  font-family: "PT Sans", sans-serif;
  color: #444444;
  font-size: 28px;
  text-align: left;
  font-weight: bold;
  margin-top: 40px;
}
/* line 222, ../sass/style.scss */
.right_cintent ul.main_tovars li p.cena a {
  float: right;
}

/*Paination*/
/* line 231, ../sass/style.scss */
#main_pagin {
  position: relative;
  overflow: hidden;
  margin: 60px 0 30px 0;
}

/* line 236, ../sass/style.scss */
#main_pagin ul {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
  font-family: "PT Sans", sans-serif;
}

/* line 246, ../sass/style.scss */
#main_pagin ul li {
  position: relative;
  left: -50%;
  float: left;
  margin: 0 10px;
  background: url();
}

/* line 254, ../sass/style.scss */
#main_pagin ul li a {
  display: block;
  text-decoration: none;
  padding: 4px 0px;
  color: #000;
  font-size: 14px;
}

/* line 262, ../sass/style.scss */
#main_pagin ul li a.active {
  color: #444444;
  -moz-transform: scale(1.4);
  /* ─ы  Firefox */
  -ms-transform: scale(1.4);
  /* ─ы  IE */
  -webkit-transform: scale(1.4);
  /* ─ы  Safari, Chrome, iOS */
  -o-transform: scale(1.4);
  /* ─ы  Opera */
  transform: scale(1.4);
}

/* line 273, ../sass/style.scss */
.right_content_footer {
  overflow: hidden;
  border-top: 2px solid #777777;
  padding-bottom: 190px;
}
/* line 277, ../sass/style.scss */
.right_content_footer p {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  color: #767676;
  line-height: 22px;
  text-align: justify;
}
/* line 285, ../sass/style.scss */
.right_content_footer .right_content_footer_left {
  float: left;
  width: 47%;
}
/* line 289, ../sass/style.scss */
.right_content_footer .right_content_footer_right {
  float: right;
  width: 47%;
}

/*Footer*/
/* line 297, ../sass/style.scss */
footer {
  background: #777777;
}
/* line 299, ../sass/style.scss */
footer .in_footer {
  width: 1000px;
  padding: 40px 10px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 304, ../sass/style.scss */
footer .in_footer address {
  font-style: normal;
  float: left;
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
}
/* line 312, ../sass/style.scss */
footer .in_footer ul {
  float: left;
  margin-left: 155px;
}
/* line 315, ../sass/style.scss */
footer .in_footer ul li {
  margin-top: 10px;
}
/* line 317, ../sass/style.scss */
footer .in_footer ul li a {
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}
/* line 323, ../sass/style.scss */
footer .in_footer ul li a:hover {
  text-decoration: none;
}

/*╠юфры№эюх юъэю*/
/* global */
/* line 332, ../sass/style.scss */
.g-hidden {
  display: none;
}

/* line 333, ../sass/style.scss */
.g-line {
  zoom: 1;
}

/* line 334, ../sass/style.scss */
.g-line:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* layouts */
/* line 337, ../sass/style.scss */
.l-container {
  width: 720px;
  padding: 0 40px;
  margin: 0 auto;
}

/* line 338, ../sass/style.scss */
.box-modal {
  position: relative;
  width: 500px;
  padding: 16px;
  background: #fff;
  color: #3c3c3c;
  font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  box-shadow: 0 0 0 6px rgba(153, 153, 153, 0.3);
  border-radius: 6px;
}

/* line 348, ../sass/style.scss */
.box-modal_close {
  position: absolute;
  right: 10px;
  top: 6px;
  font-size: 11px;
  line-height: 15px;
  color: #999;
  cursor: pointer;
}

/* line 349, ../sass/style.scss */
.box-modal_close:hover {
  color: #666;
}
